.comp{
    text-decoration:line-through;
    background-color: rgba(175, 239, 79,0.5);
   
}
.item{
    margin: 20px;
}
.App{
    width: 400px;
    display: flex;

    flex-direction: column;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
   
}
.btn{
    background-color: red;
    border: none;
    color:white;
    padding: 5px;
    border-radius: 5px;

}
.btn:active{
    transform: scale(0.95);
    transition: ease-in-out 0.2s;
    background-color: brown;
}
.todoitem{
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list-group{
   list-style:none;
}